.Middle {
    width: 100%;
    padding-top: 50px;
    background-color: #F5F6F7;
  
}

.Middle_1 {
    width: 50%;
    margin: auto;
    text-align: left;
}

.Middle_1 h1 {
    color: #1B1B32;
    font-size: 40px;
    font-weight: bold;
}

.btn {
    text-align: center;
    width: 40%;
    height: 50px;
    font-size: 22px;
    word-spacing: 5px;
    color: #1B1B32;
    background-color: #FFBD40;
    font-weight: bold;
    margin-top: 10px;
}

.icon {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: px; */
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    color: #1B1B32;
}

.micro {

    display: flex;
    color: #1B1B32;

}

.micro div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify {

    display: flex;
    color: #1B1B32;

}

.spotify div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.amazon img {
    width: 70%
}

.Middle_1 p {

    font-size: 27px;
    color: #1B1B32;
}